<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Nunito:ital,wght@1,700&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Adriano Fotos</title>
</head>
<body>
    <nav>
        <a href="#">Adriano Fotos</a>
        <ul>
            <li> <a href="#sobre">Sobre</a> </li>
            <li> <a href="#serviços">Serviços </a> </li>
            <li> <a href="#fotos">Fotos </a> </li>
            <li> <a href="#contato">Contato </a> </li>
        </ul>
    </nav>
    <header id="topo">
        <h1>Fotógrafo Profissional</h1>
        <p> Trablhar com fotografias, vídeos, fez eu entender que esse serviço é algo
            imprevisindivel. A todo momento estamos vivendo dias maravilhosos que 
            podem ser armanezados de uma forma muito divertida e emocioanente, criando 
            histórias e relembrando sentimentos. </p>
        <a href="#serviços" class="botao">Ver mais</a>
    </header>
    <section id="sobre">
        <h2>Sobre</h2>
        <p>Eu sou Adriano, sou estudante de programação, desenvolvendo projetos
            para melhorar cada vez mais o meu aprendizado. </p>
            <a href="#contato" class="botao"> Contrate Agora</a>
    </section>
    <section id="serviços">
        <h2>Serviços</h2>
        <div>
            <img src="../img/p1.png" alt="Camera">
            <h3>Fotografia</h3>
            <p> Guardando momento importantes, como casamento, formaturas, aniversários,
                para sempre, com alta qualidade. </p>
        </div>
        <div>
            <img src="../img/p2.png" alt="Filme">
            <h3>Edição de Vídeo</h3>
            <p> Quer transformar alguma lembrança em vídeo em algo emocionante com trilha
                sonora, texto e cores fantásticas ? </p>
        </div>
        <div>
            <img src="../img/p3.png" alt="VideoPlayer">
            <h3>Captação de Imagem</h3>
            <p> Vai participar de algum evento importante em sua vida, então é importante
                recordar tudo a cada segundo para se tornar tudo imortal. </p>
        </div>
        <div>
            <img src="../img/p4.png" alt="TratamentodeImagem">
            <h3>Tratamento de Imagem</h3>
            <p> Tem alguma foto antiga ou que está com as cores meio tristes,
                talvez queira ficar com uma pela nova e um sorriso brilhante ? </p>
        </div>
    </section>
    <section id="fotos">
        <h2>Fotos</h2>
        <img src="../img/ceu.jpg" alt="ceu">
        <img src="../img/grama.jpg" alt="grama">
        <img src="../img/montanha.jpg" alt="montanha">
        <img src="../img/mar.jpg" alt="mar">
        <img src="../img/arvores.jpg" alt="arvores">
        <img src="../img/ponte.jpg" alt="ponte">
    </section>
    <section id="contato">
        <h2>Contato</h2>
        <p>Vem falar com a gente!</p>
        <div>
            <img src="../img/tel.png" alt="telefone">
            <p> <a href="tel:1199999-9999"> (11)99999-9999 </a> </p>
        </div>
        <div>
            <img src="../img/mail.png" alt="email">
            <p> <a href="mailto:contato@adrianofotos.com.br"> contato@adrianofotos.com.br </a> </p>
        </div>
    </section>
    <section class="newsletter">
        <h3> Newsletter </h3>
        <p> Receba nossas promoções por email </p>
        <form method="post">
            <input type="text" placeholder="Seu nome">
            <input type="email" placeholder="Seu email">
            <button> Cadastrar </button>
        </form>
    </section>
    <footer>
        <a href="#topo">Voltar</a>
        <p> &copy; Adriano G S - Todos os direitos reservados </p>
    </footer>
</body>
</html>